{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Authors: Elliot Ousley and Hau'oli O'Brien</p>
    <h3> Overview </h3>
    <p>Sea Otter Grocery is an online food store run by sea otters
     for other marine animals like sea lions, seagulls, or harbor seals. 
     Because of their varied Customer base, they need to sell a variety of 
     seafoods to a Customer base with specific dietary requirements. Operating on the busy 
     Oregon Coast, Sea Otter Grocery handles around 10,000 Orders every year.
      Sea Otter Grocery receives its Products from many companies in the 
      Pacific. With a growing Customer base, 
    Sea Otter grocery needs a way for customers to leave Reviews on various 
    products. Sea Otter Grocery serves around 50 different species. With such a large and 
    varied Customer base, they need a database-driven website. </p>
</div>

{# RESET BUTTON #}
<h2>Reset Database</h2>
<form class="cuForm" id="reset_database_form" method="POST" action="/home/reset">
 
  <label for="reset_database">RESET DATABASE: </label>
    <input type="submit" name="reset_database" id="reset_database">
</form>

{% endblock %}